.content{
    display: flex;
    justify-content: space-between;
    margin: 0 50px 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.54);
}

.logo{
    font-size: 31px;
    font-weight: 600;
}

.iconContainer{
    a {
        margin: 0 3px;
    }
}

.logoSvg{
    width: 30px;
    height: 30px;
    color: #fff;
}
