.container-size{
    max-width: 680px;
    margin: auto;
    padding: 0 15px;
}

.headerContainer{
    @extend .container-size;

    h1 {
        font-size: 40px;
    }
}

.subHeader{
    margin-bottom: 16px;

    &>*{
        display: inline-block;
        margin-right: 16px;
    }
}
.date{
    color: #9ac7fa;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 500;
}

.readDuration{
    padding: 8px;
    margin-top: 16px;
    border: 1px solid rgba(255,255,255,0.13);
    font-size: 13px;
}

.content{
    @extend .container-size;
    font-size: 21px;
    line-height: 1.58;
    word-break: break-word;

    h2, h3, h4, h5 {
        margin-top: 2em;
    }
    
    p {
        margin-top: 0.5em;
        margin-bottom: 2em;
    }

    a{
        color: #4092da;
    }

    strong{
        font-weight: bold;
    }

    code {
        background-color: rgba(255, 255, 255, 0.18);
        border-radius: 3px;
        padding: 2px 4px;
    }

    blockquote {
        background-color: #000;
        border: solid 2px #757575;
        display: inline-block;
        margin: 0;
        padding: 1em;
        position: relative;
    }
}

.comments{
    @extend .container-size;
    background-color: #f5f2f0;
}